.idea/
*.iml
target/
*.log
.project
.classpath
.settings
.vscode

pom.xml.versionsBackup

package-lock.json

dictator-web/src/main/resources/public/*
!dictator-web/src/main/resources/public/index.html
!dictator-web/src/main/resources/public/favicon.ico

.DS_Store