<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.github.liuyuyu.dictator.server.mapper.DictatorConfigMapper">
    <select id="findPageValid" resultType="com.github.liuyuyu.dictator.server.web.model.dto.DictatorConfigDto">
        select * from dictator_config
        <where>
            <if test="appId != null and appId != ''">
                and app_id = #{appId}
            </if>
            <if test="profileId != null and profileId != ''">
                and profile_id = #{profileId}
            </if>
            <if test="groupId != null and groupId != ''">
                and group_id = #{groupId}
            </if>
            <if test="configName != null and configName != ''">
                and config_name = #{configName}
            </if>
        </where>
    </select>
</mapper>