<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.github.liuyuyu.dictator.server.mapper.DictatorRoleProfileMapper" >
    <delete id="deleteByRoleId">
        delete from dictator_role_profile
        where role_id = #{roleId}
    </delete>
    <select id="findProfilePermissionByRoleIdLIst" resultType="com.github.liuyuyu.dictator.server.web.model.dto.DictatorProfilePermissionDto">
        SELECT
        rp.role_id
        ,group_concat(p.profile_name) AS profile_permissions
        ,group_concat(p.id) AS profile_ids
        FROM
        dictator_config_profile p
        LEFT JOIN dictator_role_profile rp ON p.id = rp.profile_id
        where rp.role_id in
        <foreach collection="roleIdList" open="(" close=")" separator="," item="roleId">
            #{roleId}
        </foreach>
        group by rp.role_id
    </select>
    <select id="countByRoleIdAndAndConfigId" resultType="int">
        select count('活捉一只凹凸曼') from dictator_config config
        where
        exists
        (
            select 1 from dictator_role_profile rp
            where rp.profile_id = config.profile_id
            and rp.role_id in
            <foreach collection="roleIdList" open="(" separator="," item="roleId" close=")">
                #{roleId}
            </foreach>
        )
        and config.id = #{configId}
    </select>
    <select id="countByRoleIdAndAndProfileId" resultType="int">
        select count('又活捉一只凹凸曼') from dictator_role_profile rp
        where rp.profile_id = #{profileId}
        and rp.role_id in
        <foreach collection="roleIdList" open="(" separator="," item="roleId" close=")">
            #{roleId}
        </foreach>
    </select>
</mapper>