<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.github.liuyuyu.dictator.server.mapper.DictatorResourceMapper">
    <select id="findByRoleIdList" resultType="com.github.liuyuyu.dictator.server.model.entity.DictatorResource">
        select * from dictator_resource resource
        where exists
        (
        select 1 from dictator_role_resource rr where rr.resource_id = resource.id
        and rr.role_id in
        <foreach collection="roleIdList" item="roleId" open="(" close=")" separator=",">
            #{roleId}
        </foreach>
        )
    </select>
    <select id="findPermissionByRoleIdList" resultType="com.github.liuyuyu.dictator.server.web.model.dto.DictatorResourcePermissionDto">
        SELECT
        rr.role_id
        ,group_concat(res.resource_name) AS permissions
        FROM
        dictator_resource res
        LEFT JOIN dictator_role_resource rr ON res.id = rr.resource_id
        where rr.role_id in
        <foreach collection="roleIdList" open="(" separator="," close=")" item="roleId">
            #{roleId}
        </foreach>
        group by rr.role_id
    </select>
    <select id="findByRoleIdAndParentId" resultType="com.github.liuyuyu.dictator.server.model.entity.DictatorResource">
        select * from dictator_resource resource
        where exists
        (
        select 1 from dictator_role_resource rr where rr.resource_id = resource.id
        and rr.role_id = #{roleId}
        )
        and parent_id = #{parentId}
    </select>
    <select id="findByUserIdAndParentId" resultType="com.github.liuyuyu.dictator.server.model.entity.DictatorResource">
        SELECT *
        FROM dictator_resource resource
        WHERE EXISTS
        (
            SELECT '静看光阴荏苒'
            FROM dictator_role_resource rr
            WHERE rr.resource_id = resource.id AND EXISTS
            (
                SELECT '借我喑哑无言'
                FROM dictator_user_role ur
                WHERE ur.role_id = rr.role_id AND ur.user_id = #{userId}
            )
        )
        AND parent_id = #{parentId}
    </select>
    <select id="findByParentIdContains" resultType="com.github.liuyuyu.dictator.server.model.entity.DictatorResource">
        select * from dictator_resource
        where parent_ids like concat('%',#{parentId},'%')
    </select>
    <update id="updateParentIdsById">
        update dictator_resource
        set parent_ids = #{parentIds}
        where id = #{id}
    </update>
    <update id="updateParentIdById">
        update dictator_resource
        set parent_ids = #{parentId}
        where id = #{id}
    </update>
</mapper>