<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:context="http://www.springframework.org/schema/context" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd
    http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd">
    <context:component-scan base-package="com.github.liuyuyu.dictator.spring"/>
    <bean class="com.github.liuyuyu.dictator.spring.DictatorPropertySourcesPlaceholderConfigurer">
        <property name="dictatorClient">
            <bean class="com.github.liuyuyu.dictator.client.DictatorClient">
                <property name="dictatorClientProperties">
                    <bean class="com.github.liuyuyu.dictator.client.DictatorClientProperties">
                        <property name="appId" value="app" />
                        <property name="deploymentId" value="dev/db" />
                        <property name="serverUrl" value="http://localhost:8080" />
                    </bean>
                </property>
            </bean>
        </property>
    </bean>
</beans>