<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:context="http://www.springframework.org/schema/context" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd
    http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd">
    <context:component-scan base-package="com.github.liuyuyu.dictator.spring"/>

    <bean id="zkProperties" class="com.github.liuyuyu.dictator.com.github.liuyuyu.dictator.server.zookeeper.ZkProperties">
        <property name="basePath" value="/app/dev/db"/>
        <property name="zkAddress" value="127.0.0.1:2181"/>
    </bean>
    <bean id="configService" class="com.github.liuyuyu.dictator.com.github.liuyuyu.dictator.server.zookeeper.ZookeeperConfigService" init-method="init">
        <property name="zkProperties" ref="zkProperties"/>
    </bean>
    <bean class="com.github.liuyuyu.dictator.spring.DictatorPropertySourcesPlaceholderConfigurer">
        <property name="configService" ref="configService"/>
        <property name="zkProperties" ref="zkProperties"/>
    </bean>
</beans>